/*
* Opinion Style
*/
.opinion {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
}
.opinion h2 {
   font-size: var(--fs-500);
   font-family: var(--heading-font);
}
.opinion p {
   font-size: var(--fs-400);
   color: #707070;
   font-family: var(--para-font);
}
.texts span {
   font-size: var(--fs-xl);
   font-weight: 900;
   color: var(--main-color);
   font-family: var(--heading-font);
}
@media (min-width: 769px) {
   .opinion {
      display: flex;
      flex-direction: row;
   }
   .texts {
      padding-right: 10%;
      text-align: left;
      width: 60%;
   }
   .texts p {
      font-size: var(--fs-500);
      margin-top: 1rem;
   }
}
